* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #f5f8ff;
}
/* share style */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.description {
  font-size: 1.3rem;
  font-weight: 400;
  color: #00000080;
}
.title {
  font-size: 3.1rem;
  font-weight: bold;
  color: #000000;
}
/* color */
.orange {
  color: #e95a08;
}
/* header */
/* nav */
nav {
  display: flex;
  /* gap: 50px ; */
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 70px;
  margin-left: 490px;
}
li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #8987a1;
}
#home {
  font-weight: 700;
  color: #252432;
}
#cart {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}
/* banner */
.banner {
  margin-top: 120px;
  display: flex;
  align-items: center;
}
.banner-content h1 {
  font-size: 4rem;
}

.banner-content p {
  margin-top: 20px;
}

/* main */
.plants {
  margin-top: 50px;
}
.plants-content {
  text-align: center;
  margin-bottom: 50px;
}
.plants-content p {
  max-width: 880px;
  margin: 0 auto;
  margin-top: 20px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  max-width: 270px;
  text-align: center;
}
.card h3 {
  margin-top: 15px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #111111;
}
.card p {
  margin-top: 15px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #111111;
}
.card button {
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  font-weight: 500;
  background-color: #e95a08;
  padding: 15px 80px;
  border: none;
}
/* plants lover */
.plants-lover {
  margin-top: 150px;
  display: flex;
  gap: 60px;
  align-items: center;
}
.plant-lover-image {
  display: flex;
  max-width: 100%;
  position: relative;
}

#badge {
  position: absolute;
  /* top: 230px; */
  left: 380px;
  top: -140px;
  max-width: 280px;
  max-height: 280px;
}
.plants-lover-content {
  max-width: 480px;
}
.plants-lover-content ul {
  margin-top: 20px;
  padding-left: 30px;
}
/* Latest deal */
.latest-deals {
  margin-top: 80px;
}
.deals-content {
  text-align: center;
}
.latest-deals p {
  max-width: 880px;
  margin: 20px auto;
}
.off {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.off-col-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.585), rgba(0, 0, 0, 0.523)),
    url(../assets/deal-bloom.png);
  width: 360px;
  height: 200px;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-bottom: 20px;
}
.off-col-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.585), rgba(0, 0, 0, 0.523)),
    url(../assets/deal-ana.png);
  width: 360px;
  height: 200px;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.off-col-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.585), rgba(0, 0, 0, 0.523)),
    url(../assets/deal-zabo.png);
  width: 753px;
  height: 423px;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.off-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}
.off-title {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.off-link {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}
.off-content-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 190px;
}
.off-content-3 > .off-title {
  font-size: 2.3rem;
}
.off-content-3 > .off-link {
  font-size: 1.75rem;
}





/* Responsive */
@media screen and (max-width: 576px) {
  
  
  
  /* share style */
  .title {
    font-size: 1.8rem;
  }
  .description {
    font-size: 0.9rem;
  }
  /* header */
  nav {
    padding-right: 20px;
  }
  nav img {
    max-width: 90px;
    padding-left: 20px;
  }
  /* ul{
      gap: 0px;
    } */
  #cart {
    font-size: 1rem;
    display: flex;
    gap: 10px;
    margin-left: -590px;
  }

  .hidden {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    max-width: 100%;
  }
  .banner-content {
    padding: 20px 15px;
    text-align: left;
  }
  .banner-content h1 {
    font-size: 1.8rem;
  }
  .banner-image img {
    max-width: 100%;
  }
  /* main */
  /* plants */
  
  .plants-content {
    padding: 10px 15px 0 15px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 30px;
    margin-right: 25px;
  }
  .card {
    max-width: 170px;
  }
  .card img {
    max-width: 170px;
  }
  .card button {
    /* max-width: 100%; */
    padding: 15px 30px;
  }
  /* plants lover */
  .plants-lover {
    flex-direction: column;
    padding: 10px 15px 0 15px;
   
    gap: 20px;
  }
  #badge {
    display: none;
  }
  #flower-store {
    max-width: 100%;
  }
  /* latest deals */
  /* .latest-deals{
    margin: 30px 20px;
  } */
   .latest-deals{
    padding: 20px 30px 0 35px;
   }
  .off {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    
  }
  .off-col-3 {
    
    max-width: 48%;
    max-height: 50%;
  }
  .off-container{
    max-width: 50%;
  }
  
  .off-content-3{
    padding-top: 100px;
  }
  .off-content-3 > .off-title {
    font-size: 1.2rem;
  }
  .off-content-3 > .off-link {
    font-size: 1rem;
  }
}
