* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #f5f8ff;
}
/* share style */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.description {
  font-size: 1.3rem;
  font-weight: 400;
  color: #00000080;
}
.title {
  font-size: 3.1rem;
  font-weight: bold;
  color: #000000;
}
/* color */
.orange {
  color: #e95a08;
}
/* header */
/* nav */
nav {
  display: flex;
   gap: 50px;
  align-items: center;
  
  margin-top: 40px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 70px;
  margin-left: 490px;
}
li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #8987a1;
}
#home {
  font-weight: 700;
  color: #252432;
}
#cart {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}
/* banner */
.banner {
  margin-top: 120px;
  display: flex;
  align-items: center;
}
.banner-content{
  max-width: 576px;
}
.banner-content h1 {
  font-size: 4rem;
}

.banner-content p {
  margin-top: 20px;
}
.banner-image{
  max-width: 100%;
}
/* main */
/* plants */
.plants {
  margin-top: 50px;
}
.plants-content {
  max-width: 880px;
  margin: 50px auto;
  text-align: center;
}
.plants-content h2{
  margin-bottom: 20px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  max-width: 270px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.353);
}
.card img{
  max-width: 270px;
}
.card h3 {
  margin-top: 15px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #111111;
}
.card p {
  margin-top: 15px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #111111;
}
.card button {
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  font-weight: 500;
  background-color: #e95a08;
  padding: 15px 80px;
  border: none;
}

/* plants lover */
.plants-lover {
  margin-top: 150px;
  display: flex;
  gap: 60px;
  align-items: center;
}
.plant-lover-image {
  display: flex;
  max-width: 100%;
  position: relative;
}
/* animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#badge {
  position: absolute;
  left: 380px;
  top: -140px;
  max-width: 280px;
  max-height: 280px;
  animation: spin 3s linear infinite;
}
.plants-lover-content {
  max-width: 480px;
}
.plants-lover-content ul {
  margin-top: 20px;
  padding-left: 30px;
}
/* Latest deal */
.latest-deals {
  margin-top: 80px;
}
.deals-content {
  text-align: center;
}
.latest-deals p {
  max-width: 880px;
  margin: 20px auto;
}
.off {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.off-col-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.585), rgba(0, 0, 0, 0.523)),
    url(../assets/deal-bloom.png);
  width: 360px;
  height: 200px;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-bottom: 30px;
}
.off-col-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.585), rgba(0, 0, 0, 0.523)),
    url(../assets/deal-ana.png);
  width: 360px;
  height: 200px;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.off-col-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.585), rgba(0, 0, 0, 0.523)),
    url(../assets/deal-zabo.png);
  width: 753px;
  height: 430px;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 10px;
}
.off-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.off-title {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.off-link {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}
.off-content-3 {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding-top: 190px;
}
.off-content-3 > .off-title {
  font-size: 2.3rem;
}
.off-content-3 > .off-link {
  font-size: 1.75rem;
}
/* join */
.join {
  margin-top: 60px;
  text-align: center;
  background: url(../assets/news-letter-bg.png);

  height: 530px;
  background-repeat: no-repeat;
  background-size: cover;
}
.newsletter {
  padding-top: 220px;
  max-width: 830px;
  margin: 0 auto;
}
.newsletter h1 {
  font-size: 3.2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.subscribe-form {
  display: flex;

  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.subscribe-form input {
  flex: 1;
  padding: 10px;
  border: none;
  border-right: none;
  outline: none;
}

.subscribe-form button {
  padding: 15px 20px;
  border: none;
  border-left: none;
  background-color: #e95a08;
  color: #ffffff;
  cursor: pointer;
}

::placeholder {
  padding-left: 30px;
}
/* footer */
.footer {
  display: flex;
  gap: 30px;

  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 50px;
}
.logo {
  max-width: 300px;
}
.link-container {
  display: flex;
  gap: 100px;
}
.link-1 ul > li {
  list-style: none;
}
.link-2 ul > li {
  list-style: none;
}

.icon {
  display: flex;
  gap: 20px;
}
.icon img {
  width: 36px;
  height: 36px;
}

/* Responsive */
@media screen and (max-width: 576px) {
  /* share style */
   
  
  /* header */
  nav{
   justify-content: space-around;
  }
  nav ul{
    display: none;
  }
  #cart{
    display: flex;
    margin-left: 220px;
    gap: 10px;
    margin-top: 20px;
  }
  nav img{
    margin-left: 30px;
  }
  
  .banner{
    flex-direction: column-reverse;
    
  }
  .banner-content{
   width: 100%;
   padding-top: 20px;
   padding-left: 20px;
  }
  
  .banner-content h1{
    width: 100%;
    font-size:2.5rem;
  }
  .banner-content p{
    width: 540px;
    font-size: 1.2rem;
  }

  /* main */
  /* plants */
 .plants{
  text-align: center;
 }
 .plants-content{
  width: 100%;
  padding: 0 10px;
 }
 .plants-content h2{
  width: 540px;
 }
 .plants-content p{
  width: 540px;
  margin-right: 20px;
 
 }
 .card-container{
  grid-template-columns: repeat(2,1fr);
  margin-left: 35px;
  margin-right: 25px;
  /* gap: 20px 5px; */
  
 }
 .card{
   width: 240px;
 }
 .card img{
  width: 240px;
 }
 .card button{
  font-size: 0.7rem;
  padding: 20px 80px;
 }
  
 
  /* plants lover */
  .plants-lover {
    margin-top: 20px;
    flex-direction: column;
    padding: 10px 15px 0 15px;
    gap: 20px;
  }
  #badge {
    display: none;
  }
  #flower-store {
    max-width: 100%;
  }
  /* latest deals */
  .latest-deals {
    margin-top: 90px;
  }
  .deals-content {
    padding: 0 30px;
  }

  .off {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 40px;
    margin-left: 35px;
  }
  .off-col-3 {
    max-width: 48%;
    max-height: 50%;
  }
  .off-container {
    max-width: 50%;
  }

  .off-content-3 {
    padding-top: 90px;
  }
  .off-content-3 > .off-title {
    font-size: 1.2rem;
  }
  .off-content-3 > .off-link {
    font-size: 1rem;
  }
  /* newsletter */
  .join {
    margin-top: -150px;
  }
  .newsletter {
    padding-top: 200px;
  }
  .newsletter h1 {
    font-size: 1.5rem;
  }
  .subscribe-form {
    max-width: 80%;
  }
  /* footer */
  .footer {
    flex-direction: column;
    margin-left: 30px;
  }
  .link-container {
    flex-direction: column;
    gap: 0;
  }
}
